h1{
    font-weight: bold;
    font-style: italic;
}


h2{
    font-weight: bold;
    text-decoration: underline;
    color:red;
}

p
{
    text-align: justify;
    
}

body
{
    background-color: blanchedalmond;

}

.option, .majeure{
    text-decoration: underline;
}