h1
{
    color : red;
}

.introduction{
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

body
{
    background-color: blanchedalmond;

}

h2
{
  font-weight: bold;
  text-decoration: underline;
  color:red;
}

.gifwelcome
{
  float: left;
  size: 15em;
}